@media (min-width: 769px) {
  /* GALLERY PAGE */
  .gallery-image-container {
    grid-template-columns: repeat(4, minmax(15rem, 1fr));
    gap: 1.25rem;
  }
}

@media (min-width: 980px) {
  /* NAVIGATION */
  .nav-open-btn {
    display: none;
  }

  .main-nav {
    background-color: transparent;
    height: auto;
    width: auto;
    position: static;
    z-index: 0;
    top: auto;
    right: auto;
  }

  .main-nav-open {
    width: auto;
  }

  .nav-close-btn {
    display: none;
  }

  .main-nav-list {
    flex-direction: row;
    margin: 0;
    align-items: normal;
  }

  .list-item:link,
  .list-item:visited {
    font-size: 36px;
  }

  /* CONTACT PAGE */
  .contact-section-address {
    flex-direction: row-reverse;
  }

  .contact-info-container {
    flex-direction: row;
  }

  .contact-info-one {
    max-width: 48rem;
    margin-bottom: 0;
  }

  .contact-section-address h1 {
    text-align: left;
  }

  .google-map-contact-container {
    max-width: 40rem;
    margin-bottom: 0;
  }
}

@media (min-width: 1025px) {
  /* GALLERY PAGE */
  .gallery-image-container {
    grid-template-columns: repeat(5, minmax(16rem, 1fr));
    gap: 1.25rem;
  }
}

@media (min-width: 1190px) {
  /* HOME PAGE */
  .home-section-container,
  .contact-home-section-container,
  .contact-section-address {
    flex-direction: row-reverse;
  }

  .about-section-container,
  .gallery-home-section-container,
  .contact-info-container {
    flex-direction: row;
  }

  .service-section-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .home-section-image {
    max-width: 56rem;
    margin-bottom: 0;
  }

  .home-info {
    max-width: 44rem;
  }

  .about-section-image {
    max-width: 48rem;
    margin-bottom: 0;
  }

  .service-item {
    max-width: 30rem;
    margin-bottom: 0;
  }

  .service-logo-one,
  .service-logo-two,
  .service-logo-three,
  .service-logo-top,
  .service-logo-bottom {
    width: 90%; /*needs to be adjusted with class name */
  }

  .delay-logo-one {
    animation-delay: 2000ms;
  }

  .delay-logo-two {
    animation-delay: 1000ms;
  }

  .google-map-home-container {
    max-width: 50rem;
    margin-bottom: 0;
  }

  .gallery-home-section-image img {
    max-width: 45rem;
    margin-bottom: 0;
  }

  /* PRICING PAGE */
  .disclaimer-image img {
    max-width: 75rem;
    margin-left: 0;
    margin-right: 0;
  }

  .haircut-pricing {
    flex-direction: row;
  }

  .bath-pricing,
  .misc-pricing {
    flex-direction: row-reverse;
  }

  .pricing-content-image {
    max-width: 40rem;
    margin-bottom: 0;
  }

  .pricing-text {
    max-width: 50rem;
    margin: 0;
  }
}

@media (prefers-reduced-motion) {
}
