/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
#B993D6 #8CA6DB i think these two would make a good linear gradient to the right
#00d2ff #3a7bd5 i think these two would make a good linear gradient to the right


MAIN COLOR: #8ca6db #7085af #546483
SECONDARY COLOR: #b993d6 #9476ab #6f5880

#0D4C92

#59C1BD

#A0E4CB

#CFF5E7



MAIN COLOR: #343a40, #212529
GREY COLOR: #ffc078, #ffa94d, #ff922b
*/

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 37.5px;
}

.dog-logo {
  display: flex;
  align-items: center;
}

.dog-logo-img img {
  width: 75px;
  height: 75px;
}

.dog-logo-title {
  font-size: 30px;
  font-weight: 700;
  color: #0d4c92;
}

.nav-open-btn {
  width: 75px;
  height: 56.25px;
  position: relative;
  display: none;
}

.nav-open-btn span {
  display: block;
  height: 11.25px;
  width: 100%;
  border-radius: 11.25px;
  background-color: #0d4c92;
  position: absolute;
}

.nav-open-btn span:nth-child(1) {
  top: 0px;
}

.nav-open-btn span:nth-child(2) {
  top: 22.5px;
}

.nav-open-btn span:nth-child(3) {
  top: 45px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav-close-btn {
  width: 75px;
  height: 56.25px;
  position: relative;
  display: none;
}

.nav-close-btn span {
  display: block;
  height: 11.25px;
  width: 100%;
  border-radius: 11.25px;
  background-color: #0d4c92;
  position: absolute;
}

.nav-close-btn span:nth-child(1) {
  transform: rotate(-135deg);
}

.nav-close-btn span:nth-child(2) {
  transform: rotate(135deg);
}

.main-nav-list {
  display: flex;
  list-style: none;
}

.list-item:link,
.list-item:visited {
  display: block;
  margin: 12.5px;
  font-size: 37.5px;
  font-weight: 700;
  text-decoration: none;
  color: #0d4c92;
  transition: all 300ms;
}

.list-item:hover,
.list-item:active {
  color: #212529;
}

.home-section {
  padding: 156.25px 0;
  background: linear-gradient(#59c1bd, #cff5e7);
}

.home-section-container {
  margin: auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-info {
  max-width: 375px;
  color: #0d4c92;
}

.home-info h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 1.2;
  margin-bottom: 43.5px;
}

.home-info p {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.4;
}

.home-section-image img {
  display: block;
  width: 687.5px;
}

.about-section {
  padding: 162.5px 0;
}

.about-section-container {
  margin: auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-info {
  max-width: 468.75px;
  color: #0d4c92;
}

.about-info h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 1.2;
  margin-bottom: 43.5px;
}

.about-info p {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.6;
}

.about-section-image img {
  display: block;
  width: 468.75px;
}

.service-section {
  padding: 150px 0;
  background: linear-gradient(#59c1bd, #cff5e7);
}

.service-section-container {
  margin: auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.service-item-one,
.service-item-two,
.service-item-three {
  max-width: 343.75px;
  color: #0d4c92;
}

.service-logo {
  display: block;
  width: 85%;
  margin-bottom: 25px;
}

.service-header {
  font-weight: 700;
  font-size: 45px;
  line-height: 1.2;
  margin-bottom: 31.25px;
}

.service-text {
  font-weight: 500;
  font-size: 22.5px;
  line-height: 1.4;
  margin-bottom: 43.5px;
}

.contact-home-section {
  padding: 168.75px 0;
}

.contact-home-section-container {
  margin: auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contact-home-info {
  max-width: 531.25px;
  color: #0d4c92;
}

.contact-home-info h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 1.2;
  margin-bottom: 100px;
}

.contact-home-btn {
  display: block;
  text-decoration: none;
  color: #fff;
  background-color: #0d4c92;
  font-size: 30px;
  font-weight: 700;
  padding: 12.5px 25px;
  border-radius: 31.25px;
  width: 50%;
  text-align: center;
  margin: auto;
}

.google-map-home {
  width: 500px;
  height: 500px;
}

.gallery-home-section {
  padding: 150px 0;
  background-image: url("../images/wood_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.gallery-home-section-container {
  margin: auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.gallery-home-section-image img {
  display: block;
  width: 500px;
}

.gallery-home-info {
  max-width: 562.5px;
  padding: 56.25px;
  border-radius: 31.25px;
  color: #0d4c92;
  background: linear-gradient(#59c1bd, #cff5e7);
}

.gallery-home-info h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 1.2;
  margin-bottom: 100px;
}

.view-gallery-btn {
  display: block;
  text-decoration: none;
  color: #0d4c92;
  background-color: #fff;
  font-size: 30px;
  font-weight: 700;
  padding: 12.5px 25px;
  border-radius: 31.25px;
  width: 281.25px;
  text-align: center;
  margin: auto;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.footer-nav-list a:link,
.footer-nav-list a:visited {
  display: block;
  margin: 0 25px 37.5px 25px;
  text-decoration: none;
  color: #0d4c92;
  transition: color 300ms;
}

.footer-nav-list a:hover,
.footer-nav-list a:active {
  color: #59c1bd;
}

.footer-section small {
  font-size: 20px;
  font-weight: 400;
}

/* Pricing page */

.service-pricing {
  padding: 93.75px 0;
  background: linear-gradient(#59c1bd, #cff5e7);
}

.service-pricing-container {
  margin: auto;
  max-width: 1200px;
  padding: 93.75px;
  background-color: #fff;
  color: #0d4c92;
}

.service-pricing-container h2 {
  font-weight: 700;
  font-size: 65px;
  margin-bottom: 62.5px;
}

.service-pricing-container h3 {
  font-weight: 700;
  font-size: 37.5px;
}

.service-pricing-container p {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.6;
}

.disclaimer-image {
  display: block;
  width: 100%;
  margin-bottom: 50px;
}

.disclaimer-pricing,
.bath-pricing,
.haircut-pricing,
.misc-pricing {
  margin-bottom: 106.25px;
}

.bath-pricing h3 {
  margin-bottom: 56.25px;
}

.bath-pricing p {
  margin-bottom: 75px;
}

.misc-pricing h3 {
  margin-bottom: 25px;
}

.misc-pricing p {
  margin-bottom: 62.5px;
}

/* Contact Page */

.contact-section {
  padding: 93.75px 0;
  background: linear-gradient(#59c1bd, #cff5e7);
}

.contact-section-container {
  margin: auto;
  max-width: 1200px;
  padding: 93.75px;
  background-color: #fff;
  color: #0d4c92;
}

.contact-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 175px;
}

.contact-info-one {
  max-width: 456.25px;
}

.contact-info-one h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 1.2;
  margin-bottom: 37.5px;
}

.contact-info-one p {
  font-weight: 500;
  font-size: 22.5px;
  line-height: 1.6;
}

.contact-info-two {
  max-width: 500px;
}

.contact-info-two h2 {
  font-weight: 700;
  font-size: 37.5px;
  line-height: 1.2;
  margin-bottom: 12.5px;
}

.contact-links:link,
.contact-links:visited {
  display: block;
  color: #59c1bd;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 12.5px;
  text-decoration: none;
  transition: color 300ms;
}

.contact-links:hover,
.contact-links:active {
  color: #a0e4cb;
}

.contact-info-two p {
  font-weight: 500;
  font-size: 22.5px;
  line-height: 1.6;
}

.contact-section-address {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.contact-section-address h1 {
  max-width: 456.25px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
}

.google-map-home {
  width: 500px;
  height: 500px;
}

/* Gallery Page */

.gallery-section {
  padding: 93.75px 0;
  background: linear-gradient(#59c1bd, #cff5e7);
}

.gallery-section-container {
  color: #0d4c92;
  padding: 93.75px;
  margin: auto;
  background-color: #fff;
  max-width: 1200px;
}

.gallery-image-container {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  justify-content: center;
  align-content: center;
  gap: 12.5px;
}

.gallery-image {
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.lightbox-container {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: none;
}

.lightbox-container.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox img {
  width: 625px;
  height: 625px;
}

.lightbox-btn {
  display: block;
  background-color: rgb(13, 76, 146, 0);
  color: rgb(255, 255, 255, 0.5);
  border: none;
  font-size: 50px;
  padding: 37.5px 12.5px;
  z-index: 2;
  transition: background-color 300ms, color 300ms;
}

.lightbox-btn:hover {
  background-color: #0d4c92;
  color: #fff;
}

.lightbox-btn-left {
  border-radius: 25px 0px 0px 25px;
}

.lightbox-btn-right {
  border-radius: 0px 25px 25px 0px;
}

.lightbox-btn-close {
  position: absolute;
  top: 62.5px;
  right: 125px;
  display: block;
  background: none;
  color: rgb(255, 255, 255, 0.5);
  border: none;
  font-size: 75px;
  z-index: 2;
  transition: color 300ms;
}

.lightbox-btn-close:hover {
  color: #fff;
}

/* All Secondary Pages */

.title-header {
  font-weight: 700;
  font-size: 77.5px;
  margin-bottom: 62.5px;
}

.title-span {
  display: block;
  background-color: #0d4c92;
  height: 7.5px;
  width: 100%;
  margin-bottom: 62.5px;
}
